{% extends "index.html" %}
{% block title %}AgriHire Solutions {% endblock %}

{% block css %}
<style>
/* Add your custom CSS here */
</style>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-3">
    <div class="container mt-3">
        <h2>Shopping Cart</h2>
        {% if cart_items %}
        <div class="row row-cols-md-auto m-3 g-3 align-items-center">
            <div class="col-12">
                <label for="store_select" class="form-label col-md-1">Store</label>
            </div>
            <div class="col-12">
                <select class="form-select" id="store" name="store">
                    {% for store in store_list %}
                    <option value="{{store.store_id}}" {% if store.store_id == session['my_store'] %}selected{% endif %}>{{store.store_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <table class="table table-bordered mt-4">
            <thead class="thead-light">
                <tr>
                    <th>Equipment</th>
                    <th>Hire From</th>
                    <th>Hire To</th>
                    <th>Hire Rate</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th colspan="2">Subtotal</th>
                </tr>
            </thead>
            <tbody id="cartItems">
                {% for item in cart_items %}
                <tr data-cart-item-id="{{item.cart_item_id}}" data-product-code="{{ item.product_code }}" data-hire-from="{{ item.hire_from }}" data-hire-to="{{ item.hire_to }}">
                    <td>
                        <img src="{{ url_for('static', filename='images/product/' ~ item.image) }}" class="img img-thumbnail" alt="{{ item.name }}" style="height: 50px;">
                        {{ item.name }}
                    </td>
                    <td>{{ item.hire_from.strftime('%d %B %Y %I:%M %p') }}</td>
                    <td>{{ item.hire_to.strftime('%d %B %Y %I:%M %p') }}</td>
                    <td>₹{{ item.hire_rate }}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-secondary qty-down" data-cart-item-id="{{ item.cart_item_id }}"><i class="fa-solid fa-minus"></i></button>
                            <input class="form-control mx-1 qty-input" style="width: 50px;" type="number" value="{{ item.qty }}" data-cart-item-id="{{ item.cart_item_id }}" min="1">
                            <button class="btn btn-secondary qty-up" data-cart-item-id="{{ item.cart_item_id }}"><i class="fa-solid fa-plus"></i></button>
                        </div>        
                    </td>
                    <td class="item-discount">{% if item.discount != 0 %}-₹{{ item.discount }}{% endif %}</td>
                    <td class="item-subtotal">₹{{ item.subtotal }}</td>
                    <td>
                        <button class="btn delete-item" data-cart-item-id="{{ item.cart_item_id }}" style="color: #c51616;"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if total_discount !=0 %}
                <tr>
                    <td colspan="6" class="text-right">Total before discount</td>
                    <td colspan="2" class="cart-original-total">₹{{ original_total }}</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-right">Discount applied</td>
                    <td colspan="2" class="cart-total-discount">-₹{{ total_discount }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="6" class="text-right">Includes GST of</td>
                    <td colspan="2" class="cart-total-gst">₹{{ total_gst }}</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-right">Total:</td>
                    <td colspan="2" class="cart-total">₹{{ cart_total }}</td>
                </tr>
            </tfoot>
        </table>

        <form id="promoForm">
            <div class="row m-3">
                <h6>Have a promo code? Enter now:</h6>
            </div>
            <div class="row m-1">
                <div class="col-3">
                    <input type="text" class="form-control" id="promo_code" name="promo_code" {% if promo_code %} value="{{ promo_code }}" readonly{% endif %}>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-secondary" id="removePromoCode" {% if not promo_code %} style="display: none;" {% endif %}>X</button>
                    <button type="submit" class="btn btn-danger" id="applyPromoButton"  {% if promo_code %} style="display: none;" {% endif %}>Apply</button>
                </div>
            </div>
            <div class="row m-1">
                <p class="promo-msg" id="promo_msg"></p>
            </div>
        </form>
        
        <div class="row m-3 mb-5">
            <div class="col text-end">
                <form id="bookingForm" action="{{ url_for('review_booking') }}" method="post">
                    <button type="submit" class="btn btn-danger" id="toBookingButton">Checkout</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="d-flex justify-content-center m-4">
            <div class="row row-cols-1">
                <div class="col mb-3">
                    <h5>Your cart is empty</h5>
                </div>
                <div class="col mb-3">
                    <a class="btn btn-danger" href="{{url_for('search_equipment')}}">Browse equipment</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {

    function formatDateForDisplay(dateStr, timeZone) {
        const date = new Date(dateStr + ' ' + timeZone);
        const options = { 
            day: '2-digit', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true
        };
        return date.toLocaleString('en-NZ', options).replace('at', '');
    }

    function formatDateForData(dateStr, timeZone) {
        const date = new Date(dateStr + ' ' + timeZone);
        let dateString = date.toLocaleString('en-NZ', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
        dateString = dateString.replace('at', '').replace(/(\d{2})\/(\d{2})\/(\d{4}),/, '$3-$2-$1');
        return dateString;
    }

    const storeId = $('#store').val();
    let itemIdToDelete;

    function showErrorModal(message) {
        $('#errorModalMessage').text(message);
        $('#errorModal').modal('show');
    }

    function checkStockAndupdateCartItem(itemId, newQty) {
        const row = $(`tr[data-cart-item-id="${itemId}"]`);
        const productCode = row.data('product-code');
        const dateFrom = row.data('hire-from');
        const dateTo = row.data('hire-to');

        $.ajax({
            type: 'POST',
            url: "{{ url_for('check_stock') }}",
            contentType: 'application/json',
            data: JSON.stringify({ product_code: productCode, store_id: storeId, hire_from: dateFrom, hire_to: dateTo }),
            success: function(response) {
                if (response.stock >= newQty) updateCartItem(itemId, newQty);
                else showErrorModal('Not enough stock available.');
            },
            error: function() { showErrorModal('An error occurred while updating the cart.'); }
        });
    }

    function updateCartItem(itemId, newQty) {
        $.ajax({
            type: 'POST',
            url: "{{ url_for('update_cart') }}",
            contentType: 'application/json',
            data: JSON.stringify({ cart_item_id: itemId, qty: newQty }),
            success: function(response) {
                if (response.success) {
                    if (newQty > 0) updateCart(response.cart_items, response.original_total, response.total_discount, response.total_gst, response.cart_total);
                    else if (response.cart_items.length === 0) window.location.href = "{{ url_for('view_cart') }}";
                    else $(`tr[data-cart-item-id="${itemId}"]`).remove();
                } else {
                    showErrorModal(response.message);
                }
            },
            error: function() { showErrorModal('An error occurred while updating the cart.'); }
        });
    }

    function updateCart(cartItems, originalTotal, totalDiscount, totalGst, cartTotal) {
        let cartItemsHtml = '';
        const staticUrl = "{{ url_for('static', filename='') }}".slice(0, -1);

        cartItems.forEach(item => {
            const imageUrl = `${staticUrl}/images/product/${item.image}`;
            cartItemsHtml += `
            <tr data-cart-item-id="${item.cart_item_id}" data-product-code="${item.product_code}" data-hire-from="${formatDateForData(item.hire_from, '+12:00')}" data-hire-to="${formatDateForData(item.hire_to, '+12:00')}">
                <td>
                    <img src="${imageUrl}" class="img img-fluid" alt="${item.name}" style="height: 50px;">
                    ${item.name}
                </td>
                <td>${formatDateForDisplay(item.hire_from, '+12:00')}</td>
                <td>${formatDateForDisplay(item.hire_to, '+12:00')}</td>
                <td>₹${item.hire_rate}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-secondary qty-down" data-cart-item-id="${item.cart_item_id}"><i class="fa-solid fa-minus"></i></button>
                        <input class="form-control mx-1 qty-input" style="width: 50px;" type="number" value="${item.qty}" data-cart-item-id="${item.cart_item_id}" min="1">
                        <button class="btn btn-secondary qty-up" data-cart-item-id="${item.cart_item_id}"><i class="fa-solid fa-plus"></i></button>
                    </div>        
                </td>
                <td class="item-discount">${item.discount != 0 ? `-₹${item.discount}` : ''}</td>
                <td class="item-subtotal">₹${item.subtotal}</td>
                <td>
                    <button class="btn delete-item" data-cart-item-id="${item.cart_item_id}" style="color: #c51616;"><i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>`;
        });

        $('#cartItems').html(cartItemsHtml);

        if (totalDiscount != 0) {
            $('tfoot').html(`
            <tr>
                <td colspan="6" class="text-right">Total before discount</td>
                <td colspan="2" class="cart-original-total">₹${originalTotal}</td>
            </tr>
            <tr>
                <td colspan="6" class="text-right">Discount applied</td>
                <td colspan="2" class="cart-total-discount">-₹${totalDiscount}</td>
            </tr>
            <tr>
                <td colspan="6" class="text-right">Includes GST of</td>
                <td colspan="2" class="cart-total-gst">₹${totalGst}</td>
            </tr>
            <tr>
                <td colspan="6" class="text-right">Total:</td>
                <td colspan="2" class="cart-total">₹${cartTotal}</td>
            </tr>`);
        } else {
            $('tfoot').html(`
            <tr>
                <td colspan="6" class="text-right">Includes GST of</td>
                <td colspan="2" class="cart-total-gst">₹${totalGst}</td>
            </tr>
            <tr>
                <td colspan="6" class="text-right">Total:</td>
                <td colspan="2" class="cart-total">₹${cartTotal}</td>
            </tr>`);
        }
    }

});
</script>
{% endblock %}
